albumentations==2.0.5
comet_ml==3.49.4
coremltools==8.2
Flask==3.1.0
GitPython==3.1.43
GitPython==3.1.44
ipython==8.12.3
matplotlib==3.7.5
mss==10.0.0
nncf==2.15.0
numpy==1.24.3
onnx==1.17.0
onnxruntime==1.21.0
onnxslim==0.1.48
opencv_python==4.10.0.84
openvino==2025.0.0
paddle==1.0.2
pafy==0.5.5
pandas==2.0.3
Pillow==11.1.0
psutil==5.9.0
psutil==6.1.0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
scipy==1.15.2
seaborn==0.13.2
setuptools==75.1.0
tensorflow==2.18.0
tensorflowjs==4.22.0
tensorrt==10.9.0.34
tflite_runtime==2.14.0
tflite_support==0.4.4
torch==2.2.1
torchvision==0.17.1
tqdm==4.66.5
train==0.0.5
tritonclient==2.55.0
ultralytics==8.3.17
ultralytics_thop==2.0.9
x2paddle==1.6.0
